<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dashboard - ProductiveX{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('theme/images/favicon.png') }}">
            <!-- Pignose Calender -->
            <link href="{{ asset('theme/plugins/pg-calendar/css/pignose.calendar.min.css')}}" rel="stylesheet">
            <!-- Chartist -->
            <link rel="stylesheet" href="{{ asset('theme/plugins/chartist/css/chartist.min.css')}}">
            <link rel="stylesheet" href="{{ asset('theme/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css')}}">
            <!-- Custom Stylesheet -->
            <link href="{{ asset('theme/css/style.css')}}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
